.react-multi-carousel-item{
    padding: 0 10px!important;
    vertical-align: center;
    max-width: 500px;
    max-height: 400px;
}

.react-multiple-carousel__arrow--right, .react-multiple-carousel__arrow--left{
    display: none;
}

/* ImageCard */
.carouselImg{
    height: 300px!important;
    width: 100%;
    object-fit: cover;
}